* { box-sizing: border-box; }


body {
    font-family: brandon-grotesque,Helvetica,Arial,sans-serif;
    font-weight: 450;
    color: #6c3f21;
    background-color: #FFEEEE;
    margin: 0;
}

.navbar-header {
  margin: 0 auto;
  padding: 0px;
}

.logo {
    float: left;
    padding: 0px 0;
    display: block;
}

.logo1 {
    display: none;
}

header {
      background-color: white;
      position: sticky; top: 0;

}

header::after {
            content: '';
            display: table;
            clear: both;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8C234D;
  font-size: 25px;
  margin-left: 50px;
  display: block;
}

nav ul li ul {
      position: absolute;
      display: block;
      padding: 0;
      margin 0;
      background-color: white;
}

nav ul li ul a {
      display: block;
      padding: 0;
      margin-top: 25px;
      
}

nav {
    
  margin: 0;
  position: absolute;
  top: 50%;
  -ms- transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40%;
  -ms- transform: translateX(-40%);
  transorm: translateX(-40%);
}

nav ul {
      margin: 0;
      
      list-style: none;
}

nav ul li {
      display: inline-block;
 
      position: relative;
      
}

nav a:hover {
          color: #552233;
}

@media screen and (max-width: 900px) {

    p {
        padding-top: 110px;
    }

    header {
            position: fixed;
            right: 0;
            left: 0;
            border-radius: 0;
            top: 0;
            height: 80px;
    }

          body {
          background-color: white;

    }
    
    .logo1 {
        float: right;
        display: block;
        margin: 0;
        position: relative;
        padding-top: 15px;
        padding-right: 15px;
        
    }
    
    
    .logo {
        padding-top: 13px;
        display: block;
    }   
    
    nav ul li a {
        display: none;
    }
          
       }
