* { 
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: brandon-grotesque,Helvetica,Arial,sans-serif;
    font-weight: 450;
    color: #6c3f21;
    background-color: #FFEEEE;
    margin: 0;
}

.navbar-header {
  margin: 0 auto;
  padding: 0px;
}

.logo {
    float: left;
    padding: 0;
    display: block;
}

menu {
    padding: 0px;
    margin: 0px;
}

#menu-button {
           display: none;
}

#menu-list li {
            padding: 25 0;
}

#menu-list {
    display: block;
    text-transform: uppercase;
    color: #8C234D;
    list-style: none;
    margin-top: 80px;
    position: absolute;
    background-color: black;
    width: 100%;
    padding-left: 10px;
    opacity: 0;
    pointer-events: none;
}

.dropdown {
        text-decoration: none;
}



header {
      background-color: white;
      position: sticky; top: 0;

}

header::after {
            content: '';
            display: table;
            clear: both;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8C234D;
  font-size: 25px;
  padding: 20 25;
  display: block;
  margin: 0;
}

nav ul li ul {
    
      position: absolute;
      display: block;
      padding: 0;
      margin: 0;
      background-color: white;
    
}

nav ul li ul a {
    display: block; 
}

nav ul {
      float: right;
      margin: 0;
      list-style: none;
      padding-right: 500px;
}

nav ul li {
      float: left;
      position: relative;
}

nav a:hover {
          color: #552233;
}

@media screen and (max-width: 900px) {
    
    #menu-button {
                display: block;
    }
   
    #menu-button:hover {
               background-color: #7a7979;
               padding: 1px;
    }
    
    button { 
        -webkit-appearance: none;
        border-radius: 0; 
        padding: 0;
        margin-top: 10px;
        margin-right: 10px;
        scale: .80;
        float: right;
        cursor: pointer;
   
    }

    p {
        padding-top: 110px;
    }

    header {
            position: fixed;
            right: 0;
            left: 0;
            border-radius: 0;
            top: 0;
            height: 80px;
    }

          body {
          background-color: pink;

    }
        
    .logo {
        padding-top: 13px;
        display: block;
    }   
    
    nav ul li a {
        display: none;
    }
    
    nav ul li ul {
    
      position: absolute;
      display: block;
      padding: 0;
      margin: 0;
      background-color: white;
    
}
          
       }
